<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Logintests" parallel="tests" thread-count="3">
    <test name="ChromeValidLogin">
        <parameter name="browser" value="chrome" />
        <classes>
            <class name="tests.LoginTests">
                <methods>
                    <include name="validLogin"/>
                </methods>
            </class>
        </classes>
    </test>

    <test name="FirefoxInvalidPassworLogin">
        <parameter name="browser" value="firefox" />
        <classes>
            <class name="tests.LoginTests">
                <methods>
                    <include name="invalidPasswordLogin"/>
                </methods>
            </class>
        </classes>
    </test>

    <test name="ChromeInvalidEmailLogin">
        <parameter name="browser" value="firefox" />
        <classes>
            <class name="tests.LoginTests">
                <methods>
                    <include name="invalidEmailLogin"/>
                </methods>
            </class>
        </classes>
    </test>

</suite>